<ion-view title="Helpppp 2" >
        <ion-content padding="true">

                <a ng-href="#/">Index...</a>

        	<h2>Using the app (2)</h2>
        	
        	<div>Este es un ejemplo se hace uso de:</div>
        	
        	<br>
        	<div style="{padding: 15}">
        		VISTAS ANIDADAS: La presente vista esta en un 3 nivel de profundidad. Esta está dentro de la vista que muestra 
        		los TABS, y los tabs a su vez es una vista que se inserta en el index principal. Caracteristica de ui-router
        	</div>
        	<div style="{padding: 15}">
        		VISTAS ABSTRACTAS: ui-router ofrece esta caracteristica. En este caso el template que contiene los tabs se muestra como una ruta abstracta la cual no existe por si misma, sino solamente cuando se muestre una tab especifica, la cual es una view multiple que pertenece a esa view abstracta (ouch! Creo que lo entiendo bien!)
        	</div>
        	<div style="{padding: 15}">
        		VISTA MULTIPLE: Caracteristiaa de ui-router. En un solo "pantallazo" se pueden mostrar varias vistas a la vez. Se puede modelar como varias elementos graficos que cambian independientemente. O como en este caso, el cual es una construccion de ionicframwork, se pueden modelar de manera que se muestre cada vista de manera independiente, cada una perteneciendo a un TAB, lo cual permite guardar el historial para cada uno (supongo que habra algo de "magia" para que todo funcione correctamente)
        	</div>
        </ion-content>
</ion-view>